@media screen and (max-width: 480px) {


/*************************************************\
            #BEST Seller

/* ************************************************* */

/* .main .containerproduct
{
 width: 100%;
height: auto;
} */


/*************************************************\
            #BEST Seller

/* ************************************************* */
.main .bestsellers  {
  height: 1800px;
  width: auto;
}


}