@media screen and (max-width: 480px) {


/*************************************************\
            #PRODUCT

/* ************************************************* */

/* .main .containerproduct
{
 width: 100%;
height: auto;
} */


/*************************************************\
            #BEST Seller

/* ************************************************* */
.main .bestsellers  {
  height: 2350px;
  width: 100%;
flex-direction: column; 
  justify-content: center;
  align-items: center; 
gap: 12px;
}
.main .bestsellers .containerbestsellers .article {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 680px;
  margin-bottom: 21px;
}

}